<div id="TitreProjet">Accueil</div>
<br/>
<div class="title">Bonjour</div>
<div class="blocbodyProjets">
  Bienvenue sur notre site !<br/>
  Avec nous, vous allez pouvoir perdre du poid en un temps record !<br/>
  Visitez nos différentes sections afin de décourvrir l'ensemble de nos fonctionnalités.<br/>
  Ici, vous pouvez déterminer le poids que vous devez perdre..<br/>
  Si vous le souhaitez, vous pouvez aussi déposer votre CV.<br/>
</div>
